#main
  %vk-card(hover)
    %div.uk-grid-small(uk-grid)
      %div.uk-width-1-2@s
        %input.uk-input#urlField(placeholder="URL")
      %div.uk-width-1-2@s
        %button#shorten.uk-button.uk-button-default Submit
    %br
    #linkContainer
      -# Empty
    %hr
    %pre
      %code
        = "# Shorten a link:\n"
        = "curl sh.kome.ga/api/v1/link \\\n"
        = "     -X POST -d '{ \n"
        = '       "user": "username",' + "\n"
        = '       "password": "secret",' + "\n"
        = '       "url": "sexy.cool-url.com" }' + "'\n\n"
        = "# Delete a shortened link:\n"
        = "curl sh.kome.ga/api/v1/link \\\n"
        = "     -X DELETE -d '{ \n"
        = '       "user": "username",' + "\n"
        = '       "password": "secret",' + "\n"
        = '       "hash": "8QUajLs" }' + "'\n"
    %hr
    %div.uk-alert-primary(uk-alert)
      %p Do you want to contribute?
      %span
        PRs and issues are welcome
        %a{href: "https://bitbucket.org/nswans/sh"} here!
