%html
	%head
		%meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
		%script{src: "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"}
		%script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
		%script{src: "/scripts/vuikit.min.js"}
		%script{src: "/scripts/vuikit-icons.min.js"}
		%script{src: "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"}
		%script{src: "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"}

		%link{rel: "icon", href: "/favicon.png", type: "image/x-icon"}
		%link{rel: "stylesheet", href: "/assets/style.css"}
		%title= "sh"
	%body.uk-padding
		#nav.uk-navbar-container(uk-navbar uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky")
			.uk-navbar-center
				.uk-navbar-item
					- if session[:userID] == nil
						%form(method="POST" action="/api/cookie/login" uk-margin)
							%input.uk-input.uk-form-width-small{placeholder: "Username", type: "text", name: "username"}
							%input.uk-input.uk-form-width-small{placeholder: "Password", type: "password", name: "password"}
							%span= " "
							%button.uk-button.uk-button-primary{type: "submit"} Login
					- else
						%form{method: "POST", action: "/api/cookie/logout"}
							%button.uk-button.uk-button-primary.rpb{type: "submit"} Logout

		#app
			= yield
		<footer>
		<span>(C) Noah Swanson 2018-2019 | </span>
		<a class="uk-link-reset" href="mailto:noah@kome.ga">noah@kome.ga</a>
		<span> | </span>
		<a class="uk-link-reset" href="https://twitter.com/kkslaughter2070">@kkslaughter2070</a>
		</footer>

	%script{src: "/scripts/main.js"}