#main
  %vk-card
    %form{method: "POST", action: "/api/cookie/login"}
      %input.uk-input{placeholder: "Username", type: "text", name: "username"}
      %input.uk-input.uk-margin-small{placeholder: "Password", type: "password", name: "password"}
      %button.uk-button.uk-button-primary{type: "submit"} Login
